:root {
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 10px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);

}

body {
  background-color: #16161a;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(169, 169, 169, 0.1);
  box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.5);

  border-radius: 1rem;

  &_title {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
  }

  &_player {
    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: inherit;
      text-decoration: none;
    }
    &_container {
      width: 100%;
    }
    border-top: 1px solid rgba(169, 169, 169, 0.2);
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
    transition: all 0.2s;
    &:hover {
      color: var(--color-win);
    }

    margin-bottom: 1rem;
    & > a > * {
      margin-right: 1rem;
    }
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid var(--color-win);
    }
  }
}